@import "tailwindcss";

@theme {
  --color-org: #f86537;
  --color-primary: #f86537;
  --color-primary-hover: #e55a2e;
  --color-secondary: #0365ad;
  --color-secondary-dark: #3584bd;
  --font-main: var(--font-hanken-grotesk);
}

button {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-10px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
